.App {
  font-family: sans-serif;
  text-align: center;
}

.image {
  width: 55%;
  display: block;
  margin: 0 auto;
}

.search {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 20px auto;
  border: 1px solid yellow;
  padding: 10px;
}

.search input,
label {
  padding: 5px 10px;
}

.productTable {
  width: 55%;
  margin: 20px auto;
  border: 1px solid purple;
  padding: 10px;
}

.productRow {
  display: flex;
  justify-content: space-around;
}

.tableHead th {
  display: block;
}

.tableHead tr {
  display: flex;
  justify-content: space-around;
}

.fpt {
  border: 1px solid red;
}
